body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none
}

.active {
    background-color: #f3f3f3;
    color: #fff
}

::selection {
    background-color: gold;
    color: #000
}

:root {
    --color-primary: #000;
    --color-secondary: #fff;
    --color-gold: gold;
    --text-primary: #fff;
    --text-secondary: #000
}

.social a {
    color: #fff;
    margin-right: 12px
}

.social a i {
    font-size: 22px
}

.social a i:hover {
    color: gold
}

.aboutbtn {
    margin-top: 22px
}

.aboutbtn a {
    background-color: #f3f3f3;
    border-radius: 12px;
    font-size: 22px;
    padding: 5px 22px
}

.container {
    align-items: center;
    background: #000;
    background: var(--color-primary);
    display: flex;
    height: 90vh;
    justify-content: center;
    width: 100%
}

.topics {
    color: #fff;
    color: var(--text-primary);
    margin-left: 42px
}

.topics p {
    margin: 22px 0;
    width: 50%
}

.images {
    margin-right: 42px
}

.images img {
    border: 5px solid #fff;
    border: 5px solid var(--color-secondary);
    border-radius: 50%;
    width: 22vw
}

.navbar {
    background-color: #11dd7b;
    height: 10vh
}

.logo,
.navbar {
    align-items: center;
    display: flex
}

.logo {
    height: 100%
}

.logo .mobile i {
    cursor: pointer;
    font-size: 22px;
    padding: 12px
}

.logo .logoicon img {
    width: 222px
}

.search {
    margin: 22vw
}

.search input {
    border: 1px solid #000;
    box-shadow: 1px 2px 12px #000;
    color: #000;
    outline: transparent;
    padding: 12px 10px;
    width: 32vw
}

.nav {
    background-color: #d10808;
    left: 0
}

.menuicons,
.nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    transition: all 1s ease-in-out;
    width: 24vw
}

.menuicons {
    background-color: #11dd7b;
    left: -1200px
}

.menuicons a,
.nav a {
    color: #000;
    font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
    font-size: 22px;
    margin: 12px 0;
    padding: 12px 0;
    text-align: center;
    transition: all 1s ease-in-out;
    width: 100%
}

.nav a:hover {
    background-color: #f0f8ff;
    color: #000
}

.logo a {
    color: #000
}

.hide {
    display: none;
}


@media only screen and (max-width:880px) {
    .logo .logoicon img {
        width: 222px
    }

    .search {
        display: none
    }

    .media-icons,
    .nav {
        width: 60vw
    }
}

.about {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.img {
    margin: 52px;
    width: 50%;
}

.about .img img {
    border: 4px solid #000;
    width: 242px
}
.details{
    width: 60%;
}
.details p {
    width: 50%
}

.hireme button {
    background-color: #aed8ff;
    border: transparent;
    border-radius: 12px;
    box-shadow: 12px 2px 12px #000;
    font-size: 22px;
    margin-top: 22px;
    padding: 12px 50px
}


.notfound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
}

.notfound h1 {
    font-size: 142px;
    text-transform: uppercase;
    font-weight: 900;
}

.heading {
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    /* Safari/Chrome */
    -moz-background-clip: text;
    /* Firefox */
    background-clip: text;
    color: transparent;
}

.notfound p {
    width: 32%;
    text-align: center;
}

.notfound a {
    background-color: #0088ff;
    padding: 22px;
    margin-top: 22px;
    border-radius: 32px;
    color: aliceblue;
    font-weight: bolder;
}


/* course details */
.posts h1{
    text-align: center;
}
.status {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    position: relative;
    z-index: -11;
  }

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #c85858;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}


/*# sourceMappingURL=main.46f71c07.css.map*/